<% include layout/header %>
  <div class="main">
    <% include layout/nav %>
      <div class="container-fluid">
        <div class="page-title">
          <h1>用户</h1>
        </div>
        <!-- 有错误信息时展示 -->
        <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
        <div class="row">
          <div class="col-md-4">
            <!-- 新增区域  begin -->
            <form id="form">
              <h2>添加新用户</h2>
              <div class="form-group">
                <label for="email">邮箱</label>
                <input id="email" class="form-control" name="email" type="email" placeholder="邮箱">
              </div>
              <div class="form-group">
                <label for="slug">别名</label>
                <input id="slug" class="form-control" name="slug" type="text" placeholder="slug">
                <p class="help-block">https://zce.me/author/<strong>slug</strong></p>
              </div>
              <div class="form-group">
                <label for="nickname">昵称</label>
                <input id="nickname" class="form-control" name="nickname" type="text" placeholder="昵称">
              </div>
              <div class="form-group">
                <label for="password">密码</label>
                <input id="password" class="form-control" name="password" type="password" placeholder="密码">
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">添加</button>
              </div>
            </form>
            <!-- 新增区域  end -->
          </div>
          <!-- 列表区域 begin -->
          <div class="col-md-8">
            <div class="page-action">
              <!-- show when multiple checked -->
              <a id="delAll" class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
            </div>
            <form id="tableForm">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="text-center" width="40"><input type="checkbox" id="selAll"></th>
                    <th class="text-center" width="80">头像</th>
                    <th>邮箱</th>
                    <th>别名</th>
                    <th>昵称</th>
                    <th>状态</th>
                    <th class="text-center" width="100">操作</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                  <% for(var i = 0; i < result.length; i ++) { %>
                    <tr>
                      <td class="text-center"><input class="boxitem" name="id" value="<%= result[i].id %>" type="checkbox"></td>
                      <td class="text-center"><img class="avatar" src="<%= result[i].avatar?result[i].avatar:'/assets/img/default.png' %>"></td>
                      <td>
                        <%= result[i].email %>
                      </td>
                      <td>
                        <%= result[i].slug %>
                      </td>
                      <td>
                        <%= result[i].nickname %>
                      </td>
                      <td>激活</td>
                      <td class="text-center">
                        <a href="post-add.php" id="<%= result[i].id %>" class="btn btn-default btn-xs">编辑</a>
                        <a href="javascript:;" id="<%= result[i].id %>" class="btn btn-danger btn-xs">删除</a>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </form>
          </div>
          <!-- 列表区域 end -->
        </div>
      </div>
  </div>
  <% include layout/aside %>
    <% include layout/footer %>
      <!-- 渲染列表数据的模板 -->
      <script id="tmp" type="text/html">
        {{ each data }}
        <tr>
          <td class="text-center"><input class="boxitem" name="id" value="{{$value.id}}" type="checkbox"></td>
          <td class="text-center"><img class="avatar" src="{{$value.avatar?$value.avatar: '/assets/img/default.png'}}"></td>
          <td>
            {{$value.email}}
          </td>
          <td>
            {{$value.slug}}
          </td>
          <td>
            {{$value.nickname}}
          </td>
          <td>激活</td>
          <td class="text-center">
            <a href="post-add.php" id="{{$value.id}}" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:;" id="{{$value.id}}" class="btn btn-danger btn-xs">删除</a>
          </td>
        </tr>
        {{ /each }}
      </script>
      <!-- 修改用户的模板 -->
      <script id="editUser" type="text/html">
        <h2>修改用户</h2>
        <!-- 
          使用隐藏域来保存参数的 id 
            可以保存数据
            不会在页面上显示
        -->
        <input type="hidden" name="id" value="{{ id }}">
        <div class="form-group">
          <label for="email">邮箱</label>
          <input id="email" class="form-control" name="email" value="{{ email }}" type="email" placeholder="邮箱">
        </div>
        <div class="form-group">
          <label for="nickname">昵称</label>
          <input id="nickname" class="form-control" name="nickname" value="{{ nickname }}" type="text" placeholder="昵称">
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input id="password" class="form-control" name="password" value="{{ password }}" type="password" placeholder="密码">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="editHandler">修改</button>
        </div>
      </script>
      <!-- 新增用户的模板 -->
      <script id="addUser" type="text/html">
        <h2>添加新用户</h2>
        <div class="form-group">
          <label for="email">邮箱</label>
          <input id="email" class="form-control" name="email" type="email" placeholder="邮箱">
        </div>
        <div class="form-group">
          <label for="slug">别名</label>
          <input id="slug" class="form-control" name="slug" type="text" placeholder="slug">
          <p class="help-block">https://zce.me/author/<strong>slug</strong></p>
        </div>
        <div class="form-group">
          <label for="nickname">昵称</label>
          <input id="nickname" class="form-control" name="nickname" type="text" placeholder="昵称">
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input id="password" class="form-control" name="password" type="password" placeholder="密码">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">添加</button>
        </div>
      </script>
      <script>
        // 给新增的提交按钮注册点击事件：(通过事件委托给提交按钮绑定点击事件)
        $('#form').on('click', 'button[type="submit"]', function (event) {
          // 阻止默认行为
          event.preventDefault()
          // // 获取提交所需的参数：
          // var email = $('#email').val()
          // var slug = $('#slug').val()
          // var nickname = $('#nickname').val()
          // var password = $('#password').val()
          // // 接收字符串
          // var params = `email=${email}&slug=${slug}&nickname=${nickname}&password=${password}`
          // console.log(params)
          // 2.0 使用 serialize 方法来接收参数
          var params = $('#form').serialize()
          // 3.0 提交数据
          $.ajax({
            url: '/addUser',
            method: 'POST',
            data: params,
            dataType: 'JSON',
            success: res => {
              // 逻辑处理：
              let { status, msg } = res
              if (status === 200) {
                alert(msg)
                // 重新渲染数据
                getAllUsers()
              } else if (status === 304) {
                window.location = '/login'
              } else {
                alert(msg)
              }
            }
          })
        })
        // 封装一个用来渲染用户列表的数据
        function getAllUsers() {
          $.ajax({
            url: '/getAllUsers',
            method: 'GET',
            dataType: 'JSON',
            success: res => {
              // 解构 res 对象
              let { status } = res
              if (status === 200) {
                // 重新渲染页面
                let trHtml = template('tmp', res)
                $('#tbody').html(trHtml)
              } else if (status === 304) {
                window.location = '/login'
              } else {
                alert('出错啦')
              }
            }
          })
        }
        // 给删除按钮绑定点击事件：
        $('#tbody').on('click', '.btn-danger', function (event) {
          if (confirm('您确定要删除吗')) {
            // 得到 id
            var id = $(this).attr('id')
            $.ajax({
              url: '/delUser?id=' + id,
              method: 'GET',
              success: function (res) {
                let { status, msg } = res
                if (status === 200) {
                  alert(msg)
                  // 更新数据
                  getAllUsers()
                } else if (status === 304) {
                  window.location = '/login'
                } else {
                  alert('出错啦')
                }
              }
            })
          }
        })
        // 给编辑按钮绑定点击事件：
        // $('.btn-default').on('click', function (event) {
        //   // 阻止默认事件
        //   event.preventDefault()
        //   console.log('我是编辑按钮')
        // })
        // 通过事件委托来给逻辑按钮绑定事件：
        $('#tbody').on('click', '.btn-default', function (event) {
          event.preventDefault()
          // 得到 id
          let id = $(this).attr('id')
          // 根据 id 去服务器中获取数据
          $.ajax({
            url: 'getUserById',
            method: 'GET',
            data: 'id=' + id,
            success: function (res) {
              // 解构 res {status: '', msg: '', data: {}}
              let { status, data } = res
              // 判断
              if (status === 200) {
                // 将添加新用户区域改为修改用户
                let html = template('editUser', data)
                $('#form').html(html)
              } else if (status === 304) {
                window.location = '/login'
              }
            }
          })
        })
        // 通过事件委托给修改按钮绑定事件
        $('#form').on('click', '#editHandler', function (event) {
          // 阻止默认行
          event.preventDefault()
          // 1.0 获取表单数据
          let params = $('#form').serialize()
          console.log(params)
          // 2.0 将参数提交到服务器
          $.ajax({
            url: '/updateUser',
            type: 'POST',
            data: params,
            success: function (res) {
              let { status, msg } = res
              if (status === 200) {
                alert(msg)
                // 重新渲染页面
                getAllUsers()
                // 重新渲染新增用户区域
                let html = template('addUser', {})
                $('#form').html(html)
              } else if (status === 304) {
                window.location = '/login'
              } else {
                alert('出错啦')
              }
            }
          })
        })
        // 给表头中的单选框绑定一个点击事件：
        $('#selAll').on('click', function () {
          // 得到表头中单选框的选中状态
          let checked = $(this).prop('checked') // 在 jquery 中 checked selected disable 只能用 prop() 来获取
          console.log(checked)
          // 将下方所有的单选框都设置为checked状态
          $('.boxitem').prop('checked', checked)
          // 如果 checked 状态为 true 应该将按钮显示出来，否则隐藏
          checked ? $('#delAll').show() : $('#delAll').hide()
        })
        // 使用事件委托给多选框绑定事件
        $('#tbody').on('click', '.boxitem', function () {
          // 如果同时在两个多选框被选中，显示批量删除
          // 得到当前数据表格中所有选中的多选框
          let selCount = 0
          $('.boxitem').each((key, ele) => {
            // ele： 是遍历中的每一个 dom 元素
            var result = $(ele).prop('checked')
            if (result) {
              selCount++
            }
          })
          selCount >= 2 ? $('#delAll').show() : $('#delAll').hide()
          // 如果所有的多选框被选中，表头中的多框也要被选中
          let totalCount = $('.boxitem').length
          // 如果所有多选框的数据与选中的数据是相同的，则表头中的多选框也要选中
          totalCount === selCount ? $('#selAll').prop('checked', true) : $('#selAll').prop('checked', false)
        })
        // 给批量删除绑定一个点击事件：
        $('#delAll').click(function () {
          // 得到选中多选框数据的 id
          // serialize: 获取当前表单元素中的所有内容，并且接收成为字符串
          var params = $('#tableForm').serialize()
          // 将得到的 id 提交到服务器中
          $.ajax({
            url: '/delUsersByIds',
            type: 'POST',
            data: params,
            success: res => {
              let { status, msg } = res
              if (status === 200) {
                alert(msg)
                // 重新学好
                getAllUsers()
              } else if (status === 304) {
                window.location = '/login'
              } else {
                alert('出错啦')
              }
            }
          })
        })
      </script>